# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: salt-master

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    date
    uname -a
  displayName: 'Run a multi-line script'
